
@{
    ViewBag.Title = "Index";
}

<h2><img src="https://localhost:44323/Images/2251682.png" />Welcome!</h2>

<td>
    <a class="btn btn-danger">A-1</a>
 
    <tf></tf>
    <a class="btn btn-primary">A-2</a>
    <tf></tf>
    <a class="btn btn-warning">A-3</a>
    <tf></tf>
    <a class="btn btn-success">A-4</a>
</td>